<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.xboot.modules.your.mapper.AssetsTypeMapper">
    <select id="findByIdZwz" resultType="cn.exrick.xboot.modules.your.entity.AssetsType">
        SELECT * from t_assets_type
        where id = #{id}
    </select>
</mapper>