<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.xboot.modules.your.mapper.PunchClockMapper">
    <select id="findByUserIdAndDate" resultType="cn.exrick.xboot.modules.your.entity.PunchClock">
        SELECT * from t_punch_clock
        where user_id = #{userId} and date = #{date};
    </select>
</mapper>